$color:black;

.imagesub{
    color: red;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 215px;
    position: relative;
    top: 76px;
    white-space: nowrap;
}

.header{
    padding-top: 30px;
    padding-left: 1220px;
    padding-right: 0px;
}

a{
    color: black;
    font-size: 16px;
    text-decoration:none ;
}
  
  a[href="GoogleadvancedSearch.html"]:visited,a[href="index.html"]:visited{
  color:black;  
  text-decoration: none;
  }
  
  a[href="GoogleadvancedSearch.html"]:hover,a[href="index.html"]:hover{
    color: black;  
    text-decoration: underline;
    }

.bdy{
    padding-top: 109px;
    font-size: small;
}

.bgim{
    height: 92px;
    width: 272px;
}

#hplogo {
    background: url('https://www.google.co.in/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png') ;
    background-repeat: no-repeat;
}

.logosubtext{
color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 215px;
    position: relative;
    top: 76px;
    white-space: nowrap;
}

form{
    top: 45%;
   left: 35%;
}

input[value="Google Search"]{
   margin: auto;
   position: absolute;
   top: 43%;
   left: 43%;
   background-color: lightgrey;
  //  height: 70%;
   border: none;
   padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 font-size: 16px;
 border-radius: 6px;
 opacity: 0.4;
}


input[value="Google Search"]:hover{
   border: 1px solid black;   
   text-emphasis: $color;
   opacity: 0.8;
   background-color: lighten($color:lightgrey, $amount: 10);
}

// input[value="Google Search"]{
// transform: translate(-60%, 0%);
// }

input[type=text] {
   border: 1px solid lightgrey;
   margin: auto;
   border-radius: 50px;
   width: 80%;
   left: 35%;
   right:40%;
   font-size: 16px;
   margin: 8px 8px;
   box-sizing: border-box;
   background-color: white;
   background-image: url('https://img.icons8.com/pastel-glyph/2x/search.png');
   background-position: 10px 10px; 
    padding: 12px 20px 12px 40px;
}


 input[type=text]:focus ,input[type=text]:hover{  
   outline: none;
   box-shadow: 5px 5px 15px lightgrey;
 }

 input[type=text]:focus{
   border: 3px solid lightgrey;
 }

 input[type=text]:hover {
   border: 1px solid lightgrey;
   outline: none;
   box-shadow: 5px 5px 15px lightgrey;
 }