html,body{
   height: 100%;
   width: 100%;
}

.jfk-scrollbar::-webkit-scrollbar {
   height: 16px;
   overflow: visible;
   width: 16px;
}

.jfk-scrollbar::-webkit-scrollbar-button {
   height: 0;
   width: 0;
}

body.jfk-scrollbar::-webkit-scrollbar-corner {
   background-clip: padding-box;
   background-color: #f5f5f5;
   border: solid #fff;
   border-width: 3px 0 0 3px;
   box-shadow: inset 1px 1px 0 rgba(0,0,0,.14);
}

.jfk-scrollbar::-webkit-scrollbar-corner {
   background: transparent;
}

body.jfk-scrollbar::-webkit-scrollbar-thumb {
   border-width: 1px 1px 1px 5px;
}
.jfk-scrollbar::-webkit-scrollbar-thumb {
   background-color: rgba(0,0,0,.2);
   background-clip: padding-box;
   border: solid transparent;
   border-width: 1px 1px 1px 6px;
   min-height: 28px;
   padding: 100px 0 0;
   box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}
.jfk-scrollbar::-webkit-scrollbar-track {
   background-clip: padding-box;
   border: solid transparent;
   border-width: 0 0 0 4px;
}
body.jfk-scrollbar::-webkit-scrollbar-track-piece {
   background-clip: padding-box;
   background-color: #f5f5f5;
   border: solid #fff;
   border-width: 0 0 0 3px;
   box-shadow: inset 1px 0 0 rgba(0,0,0,.14), inset -1px 0 0 rgba(0,0,0,.07);
}

div.bottom-wrapper {
   min-height: 100%;
   margin: 0 auto -60px;
}

.myDiv0{
   color: #000;
    font: 13px/27px Arial,sans-serif;
    left: 0;
    min-width: 1002px;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    width: 100%;
}

.myDiv
{
   margin-left: 0!important;
   margin-right: 0!important;
   white-space: nowrap;
   background: #f1f1f1;
   font: 13px/27px Arial,sans-serif;
    position: relative;
    height: 60px;
    width: 100%;
}
.click{
   position: relative;
    top: 2px;
    display: inline-block;
    line-height: 0;
    outline: none;
    vertical-align: middle;
}

.gb_AC{
   background-image: url('https://ssl.gstatic.com/gb/images/i2_2ec824b0.png') ;
   background-repeat: no-repeat;
   background-position: 0 -35px;
   background-blend-mode:darken;
    height: 33px;
    width: 92px;
    display: block;
    background-size: 528px 68px;
    font: 13px/27px Arial,sans-serif;
}

a[href="index.html"]:visited
{
   color: blue;
}

.gba{
   float: right;
   order: 1;
   height: 60px;
    line-height: 58px;
    vertical-align: middle;
    min-width: 165px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    z-index: 986;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
}

.header{
   padding-top: 30px;
   padding-left: 1220px;
   padding-right: 0px;
}

a[href="GoogleImageSearch.html"]{
   color: black;
   font-size: 16px;
   text-decoration:none ;
}
 
 a[href="GoogleImageSearch.html"]:visited{
 color:black;  
 text-decoration: none;
 }
 
 a[href="GoogleImageSearch.html"]:hover{
   color: black;  
   text-decoration: underline;
   }
   
.appbar{
   color: #d93025;
   font-size: 21px;
   margin-top: 90px;
   margin-bottom: 30px;
   margin-left: 25px;
   margin-right: 25px;
   vertical-align: middle;
   font-family: arial,sans-serif;
}

label{
   margin-left: 10px;
}

.abcd{
   border-bottom: 1px solid #ebebeb;
}

.main{
    max-width: 1258px;
    min-width: 200px;
    width: 100%;
    margin: 40px 2% 0 45px;
}

.form{
   margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

@media (max-width: 1056px)
{
   div.pageheadrhs2,div.rhs2,div.rhs4,div.rhs6,div.rhs8,div.rhs10
   {
   display: none !important;
   }
}

.pagehead{
   color:black;
    width: 16%;
    float: left;
    font-size: 20px
}

.pageheadrhs1{
   float:left;
   min-width: 167px; 
   min-height: 41px;
   vertical-align: middle; 
   width: 50%
}

.pageheadrhs2{
   width:33%;
   float:left;
   font-size:15px;
   color:#777;
   min-width:167px;
   height: 42px;
   vertical-align: middle;
   font-weight:700;
   padding-left:5px;
   display:inline-block;
}

.pageheadrhs21{
   height: 30px;
   display: table-cell;
   vertical-align: middle
}

.first{
   width: 100%;
}

.first,.first1,.break{
   clear: both
}

.first2{
   width: 100%;
}

.first2,.first21{
   clear: both;
}

.lhs1,.lhs2,.lhs3,.lhs4,.lhs5,.lhs8{
   color:#222;
   width:16%;
   float:left;
   font-size:15px;
   min-width:167px;
   height:42px;
   vertical-align:middle;
   line-height:16px
}

.lhs6{
color:#222;
   width:16%;
   float:left;
   font-size:15px;
   min-width:167px;
   height:42px;
   vertical-align:middle;
   line-height:16px
}

.lhs8{
   color:#222;
   width:16%;
   float:left;
   font-size:20px;
   min-width:167px;
   height:42px;
   vertical-align:middle;
   line-height:16px
}

.lhs11,.lhs21,.lhs31,.lhs41,.lhs51,.lhs61,.lhs81{
   height: 30px;
   display: table-cell;
   vertical-align: middle
}

.rhs1,.rhs3,.rhs5,.rhs7,.rhs9{
   float: left;
   display: inline-block;
    min-width: 180px;
     min-height: 50px;
     vertical-align: middle; 
     width: 50%;
}

.rhs01{
     float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.rhs11,.rhs31,.rhs51,.rhs71{
   padding-right: 16px;
}

.rhs011{
position: relative;
}

.rhs2,.rhs4,.rhs6,.rhs8,.rhs10{
   float: left;
   display: inline-block;
   min-width: 160px;
   margin: 0 0 8px 1%;
   color: #555;
   font-size: 12px;
   padding-left: 5px;
   vertical-align: middle;
   position: relative;
   width: 25%;
}

.rhs21,.rhs41,.rhs61,.rhs81,.rhs101{
   height: 30px;
   display: table-cell;
   vertical-align: middle;
   font-family:sans-serif
}

.rhs_span{
   color: #666;
   font-family:monospace,
   sans-serif;
   font-size: 11px;
   white-space: pre
}

.rhs9{
   float: left;
   display: inline-block;
    min-width: 167px;
     min-height: 41px;
     vertical-align: middle; 
     width: 50%;
}

.rhs91{
   display: table;
   width: 100%;
}

.rhs92,.rhs93{
   padding-right: 16px;
   display:table-cell;
}

.rhs9_mid{
   display: table-cell;
   width: 40px;
   padding-right: 6px;
   padding-left: 6px;
   text-align: center;
   font-size: 15px;
   color: #222;
}

.divider{
   margin: 25px 0px;
    clear: both;
    border-top: 1px solid #ebebeb;
}

input[type="text"]{
   width: 100%;
   text-align: left;
}


#three ,#four ,#five ,#six ,#seven ,#eight {
   // -webkit-transition: all 0.30s ease-in-out;
   // -moz-transition: all 0.30s ease-in-out;
   // -ms-transition: all 0.30s ease-in-out;
   // -o-transition: all 0.30s ease-in-out;
   height: 30px;
   outline: none;
   padding: 1px 8px;
   border: 1px solid #d9d9d9;
   border-top: 1px solid #c0c0c0;
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   width: 100%;
   text-align: left;
   vertical-align: middle;
   margin:auto;
 }
  
 #nine{
 height: 30px;
   outline: none;
   padding: 1px 8px;
   border: 1px solid #d9d9d9;
   border-top: 1px solid #c0c0c0;
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   width: 97%;
   text-align: left;
   vertical-align: middle;
   margin:auto;
 }
#three:focus,#four:focus,#five:focus,#six:focus,#seven:focus,#eight:focus,#nine:focus{
   box-shadow: 0 0 5px rgba(81, 203, 238, 1);
   border: 1px solid rgba(81, 203, 238, 1);
 }

 .rhslower{
    position: relative;
 }

.rhslower:focus ,.rhslower:hover{
   outline: none;
   box-shadow: 5px 5px 15px lightgrey;
}

.rhslower:focus{
border: 3px solid lightgrey;
}

.rhslower:hover{
   border: 1px solid lightgrey;
   outline: none;
   box-shadow: 5px 5px 15px lightgrey;
}

select {
   /* styling */
   background-color: whitesmoke;
   border: 1px solid #d9d9d9;
   border-top: 1px solid #c0c0c0;
   border-radius: 2px;
   display: inline-block;
   padding: 1px 8px;
   width: 100%;
   text-align: left;
  vertical-align: middle;
   margin:auto;
   font-size: 11px;
   font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 27px;
    text-align: left;
    text-indent: 4px;
 
   /* reset */
 
   margin: 0;      
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-appearance: none;
   -moz-appearance: none;
 }
 
 
 /* arrows */
 
 select.classic {
   background-image:
     linear-gradient(45deg, transparent 50%, grey 50%),
     linear-gradient(135deg, grey 50%, transparent 50%),
     linear-gradient(to right,whitesmoke,whitesmoke);
   background-position:
     calc(100% - 20px) calc(1em + 2px),
     calc(100% - 15px) calc(1em + 2px),
     100% 0;
   background-size:
     5px 5px,
     5px 5px,
     2.5em 2.5em;
   background-repeat: no-repeat;
 }
 
 select.classic:focus {
   background-image:
     linear-gradient(45deg, white 50%, transparent 50%),
     linear-gradient(135deg, transparent 50%, white 50%),
     linear-gradient(to right, gray, gray);
   background-position:
     calc(100% - 15px) 1em,
     calc(100% - 20px) 1em,
     100% 0;
   background-size:
     5px 5px,
     5px 5px,
     2.5em 2.5em;
   background-repeat: no-repeat;
   border-color: grey;
   outline: 0;
 }

 option{
    background-color:white ;
    width: 20px;
    height: 25px;
    font-size: 18px;
    padding-left: 5px;
    min-height: 10px;
    text-indent: 4px;
 }

 select option {
   background: #fff; 
   color: #000; 
   box-shadow: inset 20px 20px #ebebeb
 } 
 
 select option:hover {
   color: #000; 
   box-shadow: inset 20px 20px #777;
 }

 .button1:hover {
   color: white; 
   box-shadow: inset 20px 20px  #3079ed;
 }

 .button1{
      float: right;
      margin: 10px 0px;
      height: 30px;
      min-width: 120px;
      user-select: none;
      -webkit-user-select: none;
      line-height: 100%;
      background-color: #4d90fe;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      cursor: default;
      padding: 4px 4px;
      border-radius: 2px;
      border: 1px solid #3079ed;
      background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
 }

 .button0{
      width: 100%;
 }

 input[type="submit" i]{
    appearance: push-button;
    align-items: flex-start;
    box-sizing: border-box;
 }

 .links{
   clear: both;
   font-size: 16px;
   font-weight: bold;
   line-height: 18px;
   margin-bottom: 90px;
 }

 .A1:visited{
    color: #12c;
    font-family: arial,sans-serif;
    text-decoration: none;
 }

 .A1:link{
   // transform: translate(-200%, 200%);
   text-decoration: none;
   color:#12c;
 }
 
 .A1:hover{
    text-decoration:underline;
 }

 .bottom{
    position:relative;
    top:19px;
 }

 .bottombar{
   position: relative;
   visibility: visible;
   height: auto;
 }

 #bbar{
    display: block;
 }

 #bar{
   background: #f2f2f2;
   line-height: 40px;
   min-width: 1261px;
   border-top: 1px solid #e4e4e4;
 }

 .bar{
    font-size: 14px;
 }

 .b2hzT{
   border-bottom: 1px solid #e4e4e4;
 }

 .b0KoTc {
   color: rgba(0,0,0,.54);
   padding-left: 27px;
}

.B4GxFc {
   margin-left: 45px;
}

.Q8LRLc {
   font-size: 20px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}

.Fx4vi{
font-family: arial,sans-serif;
visibility: visible;
line-height: 40px;
padding: 0;
border: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
vertical-align: baseline;
padding-left: 27px;
margin: 0 !important;
text-decoration: none;
white-space: nowrap;
color: #5f6368;
}

.Fx4vi:hover{
   color: black;
}